*
{
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
h1
{
    margin: 50px 20px 10px;
    font-size: 48px;
    color: blueviolet;
}
select
{
    margin: 0 20px;
    padding: 10px;
}
.content
{
    text-align: center;
    width: 100%;
    margin-top: 80px;
}
.content h3
{
    font-size: 60px;
    color: aqua;
    margin-bottom: 20px;
}
.content p 
{
    font-size: 20px;
    width: 60%;
    margin: auto;
}